AddCharset utf-8 .html .u8
AddType application/atom+xml .atom

Redirect 301 /www/charclass/charclass-commit.en.atom.u8 http://suika.suikawiki.org/gate/git/wi/charclass.git/atom
Redirect 301 /www/charclass/charclass-commit.en.atom http://suika.suikawiki.org/gate/git/wi/charclass.git/atom
Redirect 301 /www/charclass/charclass-commit.en http://suika.suikawiki.org/gate/git/wi/charclass.git/atom
Redirect 301 /www/charclass/charclass-commit http://suika.suikawiki.org/gate/git/wi/charclass.git/atom
Redirect 301 /www/charclass/lib/Char/Normalize/FullwidthHalfwidth.html https://github.com/wakaba/perl-charclass/blob/master/lib/Char/Normalize/FullwidthHalfwidth.pod

## License: Public Domain.
